<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据库类型 1sqlserver 2mysql-->
    <add key="dbtype" value="1" />
    <add key="Connection" value="Server=192.168.1.107;database=sms2009;uid=sms2013;pwd=sms*9900;Connect Timeout=180;Enlist=true;Pooling=true;Max Pool Size = 500;Min Pool Size =1;Connection Lifetime=2000;packet size=4096" />
    <!--运营商IP-->
    <add key="ip" value="221.179.180.158" />
    <!--运营商端口-->
    <add key="port" value="7991" />
    <!--企业代码-->
    <add key="spid" value="zghko" />
    <!--密码-->
    <add key="pwd" value="zhongguohk" />
    <add key="no" value="" />
    <!--业务代码-->
    <add key="serverid" value="" />
    <!--超时重发次数，建议2次-->
    <add key="timeoutnum" value="2" />
    <!--接收长短信是否合并，1不合并 2合并，采用参数2如运营商推送的MO长短信缺失信息，将导致该条长短信失效-->
    <add key="longtxt" value="2" />
    <add key="sendcom" value="18" />
    <add key="ServiceName" value="CMPP_18" />
    <add key="Description" value="18 CMPP 验证通知" />
    <add key="web" value="http://192.168.1.189:1007" />
    <add key="logpath" value="D:\\log\\smssys2014\" />
    <add key="encode" value="UCS2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>